.action-toolbar {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    flex-direction: column;
    background-color: rgba(186, 196, 185, 0.722);
    padding: 10px;
    border-radius: 5px;
}

.action-toolbar button {
}
